@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

body {
    background: rgb(189,209,204);
    background: linear-gradient(90deg, rgb(93, 114, 133) 0%, rgb(68, 108, 187) 46%, rgb(3, 48, 195) 100%);
    color: rgb(56, 56, 56);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}